/* Interactive Art page */

.interactive-wrapper {
    background-color: #06337a;
    padding: 0;
    overflow: hidden;
}

.interactive-content {
    margin: 0;
    display: block;
    width: 60%;
    overflow: hidden;
    padding: 3%;
}

.spacer2 {
    height: 17vh;
}

.interactive-video1 {
    width: 100%;
    align-items: center;
}

.interv1 {
    width: 100%;
    align-items: center;
}

.interactive-video2 {
    width: 100%;
    align-items: center;
}

.interv2 {
    width: 100%;
    margin: 0;
    align-items: center;
}

.interactive-video3 {
    width: 100%;
    align-items: center;
}

.interv3 {
    width: 100%;
    margin: 0;
    align-items: center;
}

@media only screen and (max-width: 45rem) {
    .interactive-content {
        width: 80%;
    }
}