.generative_img {
    padding: 100px 150px;
    width: 250px;
    height: 150px;
    background-image: url(Images/generative_screenshot2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    opacity: 40%;
    transition: 800ms;
}

.generative-link {
    font-family: Atak;
    font-size: 60px;
    font-weight: 900;
    color: #4d4d4d;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    transition: 500ms;
}

.generative-wrapper {
    background-color: #06337a;
    padding: 0;
    overflow: hidden;
}

.generative-content {
    margin: 0;
    padding-left: 5%;
    overflow: hidden;
}

.generative-video1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 1050px;
}

.genv1 {
    height: 700px;
    max-width: 100%;
    max-height: 100%;
    right: 325px;
}

.generative-video2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 1050px;
}

.genv2 {
    height: 1000px;
    top: 1500px;
    max-width: 100%;
    max-height: 100%;
    right: 325px;
}

.generative-video3 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 1050px;
}

.genv3 {
    height: 1000px;
    top: 2500px;
    max-width: 100%;
    max-height: 100%;
    right: 325px;
}

.generative-video4 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 1050px;
}

.genv4 {
    height: 1000px;
    top: 3500px;
    max-width: 100%;
    max-height: 100%;
    right: 325px;
}