.generative-wrapper {
    background-color: #06337a;
    padding: 0;
    overflow: hidden;
}

.generative-content {
    margin: 0;
    padding: 5%;
    overflow: hidden;
    width: 80%;
}

.generative-video1 {
    align-items: center;
}

.genv1 {
    width: 100%;
}

.generative-video2 {
    align-items: center;
}

.genv2 {
    width: 100%;
}

.generative-video3 {
    align-items: center;
}

.genv3 {
    width: 100%;
}

.generative-video4 {
    align-items: center;
}

.genv4 {
    width: 100%;
}