/*Weather page*/

body {
    background-color: #06337a;
}

.weather-wrapper {
    background-color: #06337a;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25.6em, 1fr));
    gap: 1em;
    padding: 3%;
}

.weather-content {
    display: block;
    width: 100%;
}

.weather-videos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.weather-video {
    display: block;
}

.wv1 {
    width: 100%;
}

@media only screen and (max-width: 45rem) {
    .weather-videos,
    .weather-content {
        width: 80%;
        padding: 3%;
    }
    .weather-wrapper {
        display: block;
        width: 100%;
        padding: 0;
    }
}