body.audio_body {
    background-color: #06337a;
}

.audio-wrapper {
    background-color: #06337a;
    padding: 0;
    overflow: hidden;
}

.audio-content {
    margin: 0;
    padding: 5%;
    overflow: hidden;
    width: 80%;
}

.audio-video1 {
    align-items: center;
    padding-left: 15%;
}

.av1 {
    width: 100%;
}

.audio-video2 {
    align-items: center;
    padding-left: 15%
}

.av2 {
    width: 100%;
}

.audio-video3 {
    align-items: center;
    padding-left: 15%
}

.av3 {
    width: 100%;
}

.audio-video4 {
    align-items: center;
    padding-left: 15%
}

.av4 {
    width: 100%;
}

.audio-video5 {
    align-items: center;
    padding-left: 15%
}

.av5 {
    width: 100%;
}

