/*Human nature Page*/

body {
    background-color: #06337a;
}

.human-wrapper {
    background-color: #06337a;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25.6em, 1fr));
    gap: 1em;
    padding: 3%;
}

.human-nature-content {
    display: block;
    width: 100%;
}

.human_nature_videos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.human-video1,
.human-video2,
.human-video3 {
    display: block;
}

.humanv1,
.humanv2,
.humanv3 {
    width: 100%;
}

@media only screen and (max-width: 45rem) {
    .human_nature_videos,
    .human-nature-content {
        width: 80%;
        padding: 3%;
    }
    .human-wrapper {
        display: block;
        width: 100%;
        padding: 0;
    }
}