/*Enter Page*/

body.enter_body {
    background-color: #06337a;
}

.enter-wrapper {
    background-color: #06337a;
    padding: 3%;
    /* overflow-x: hidden; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
}

.enter_videos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
}

.enter_content {
    margin: 0;
    display: block;
    width: 100%;
}

.enter-video1,
.enter-video2 {
    display: block;
    width: 100%;
}

video,
.enterv2 {
    display: block;
    width: 100%;
}

iframe {
    display: none;
}

@media only screen and (max-width: 45rem) {
    .enter_content {
        width: 80%;
        padding: 3%;
    }
    .enter-wrapper {
        display: block;
    }
    video,
    .enterv2 {
        padding: 3% 0;
    }
}