/*Enter Page*/

.enter-wrapper {
    background-color: #06337a;
    padding: 10px;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25.6em, 1fr));
    gap: 1em;
    /* height: 200%; */
}

.enter_videos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.enter_content {
    margin: 0;
    /* padding-left: 3%; */
    display: block;
    width: 100%;
}

.enter-video1 {
    display: block;
    width: 100%;
    align-items: center;
    gap: 1em;
}

video {
    /* position: absolute; */
    /* width: 50%; */
    max-width: 100%;
    align-items: center;
    right: -50px;
    top: 500px;
    padding-right: 6%;
}

.enter-video2 {
    display: block;
    /* width: 100%; */
    align-items: center;
}

.enterv2 {
    /* position: absolute; */
    width: 100%;
    align-items: center;
    right: -50px;
    top: 1200px;
}