.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    background-color: transparent;
}

.enter {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    background-color: transparent;
}

html{
    
    scroll-behavior: initial;
    overflow: hidden;
}


body {
    
    color: #ffffff;
    font-size: 2vw;
    margin: 0;
}   

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: transparent;
}


@font-face {
    font-family: 'Atak';
    src: url("/static/fonts/Atak_Regular.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Add media queries for responsive design */
@media only screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .left-col, .right-col {
        width: 100%;
    }

    .intros {
        top: 0;
    }

    .intro1, .intro2 {
        left: 0;
        right: 0;
    }

    h1, h2, h3, p {
        font-size: 20px;
    }

}

.spacer{
    height: 120vh;
}
.spacer1{
    height: 80vh;
}

main {
    display:flex;
}

.intros {
    position: relative;
    margin: auto;
    display: flex;
    top: 50vh;
}

.left-col {
    width: 100%;
    top: 1vh;
    display: flex;
    position: relative;
    left: -30vw;
}

.right-col {
    width: 100%;
    top: 50vh;
    display: flex;
    position: relative;
    right: -60vw;

}



.intro1,
.intro2 {
    width: 70%;
}


h1 {
    font-size: 15vw;
    color: #acb1ba;
    font-family: Atak;
    position: relative;
    display: block;
    width: 30em;
}

h2 { 
    font-size: 12vw;
    color: #ffffff;
    font-family: Atak;
    position: relative;
    width: 500px;
}

h3 {
    font-size: 2vw;
    color: #acb1ba;
    font-family: Atak;
    position: relative;
    display: block;
    width: 300px;
}

/* Media queries for responsive design */
@media only screen and (min-width: 768px) {
    main {
        flex-direction: row;
    }

    .left-col,
    .right-col {
        width: 45%;
    }

    .intros {
        top: 0;
    }

    .intro1 {
        left: 0;
    }

    .intro2 {
        right: 0;
    }

    h1,
    h2,
    h3,
    p {
        font-size: 1em;
    }
}

.vertical_content {
    display: flex;
}



p {
    font-family: Atak;
    font-size: 3vw;
    
}


    


.horizontal_content {
    display: flex;
    position: relative;
    top: 500px;
    width: fit-content;
}

.horizontal_item {
    padding: 50px 50px;
    background-image: url("");
    font-family: Hemming;
    height: 100vh;
    display: flex;
    align-content: center;
}

.horizontal_item:not(:last-child){
    margin-right: 50px;
}



.enter_img {
    
    padding: 100px 150px;
    width: 250px;
    height: 150px;
    background-image: url(Images/Enter_screenshot9.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    opacity: 40%;
    transition: 800ms;
    text-decoration: none;
    
}

.enter-link {
    font-family: Atak;
    text-decoration: none;
    font-size: 80px;
    font-weight: 900;
    color: #4d4d4d;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: 500ms;
}

.contact-wrapper {
    display:flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    top: -5vh;
}

.email {
    margin: 0;
    padding-left: 3%;
    width: 100%;
    text-decoration: none;
    
}

.insta-link{
    color: #4d4d4d;
    text-decoration: none;
    transition: 500ms;
}

/*Enter Page*/



.enter-wrapper {
    background-color: #06337a;
    padding: 0;
    overflow: hidden;
    height: 200%;
}
.enter_content {
    margin: 0;
    padding-left: 3%;
    display: block;
    width: 40%;
    
}

.enter-video1 {
    display: block;
    width: 100%;
    align-items: center;
}

video {
    position: absolute;
    width: 50%;
    max-width: 100%;
    align-items: center;
    right: -50px;
    top: 500px;
    padding-right: 6% ;
}

.enter-video2 {
    display: block;
    width: 100%;
    align-items: center;
}

.enterv2 {
    position: absolute;
    width: 50%;
    align-items: center;
    right: -50px;
    top: 1200px;
}



/*                               */



.human_img {
    padding: 100px 150px;
    width: 250px;
    height: 150px;
    background-image: url(Images/human4.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    
    border-radius: 10px;
    align-content: center;
    opacity: 40%;
    transition: 800ms;
}

.human-link{
    font-family: Atak;
    font-size: 80px;
    font-weight: 900;
    color: #4d4d4d;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    transition: 500ms;
}

/*Human nature Page*/
.human-wrapper{
    background-color: #06337a;
    padding: 0;
    overflow:hidden;

}
.human-nature-content {
    padding-left: 3%;
    display: block;
    width: 40%;
}

.human-video1 {
    display: block;
    width: 700px;
    align-items: center;
}

.human-video2 {
    display: block;
    width: 700px;
    align-items: center;
}

.humanv2 {
    position: absolute;
    width: 50%;
    align-items: center;
    right: -50px;
    top: 1200px;
}

.human-video3 {
    display: block;
    width: 700px;
    align-items: center;
}

.humanv3 {
    position: absolute;
    width: 25%;
    align-items: center;
    right: 180px;
    top: 1900px;
}

p1 {
    font-family: Hemming;
    font-size: 20px;
    padding: 0;

}




.weather_img {
    padding: 100px 150px;
    width: 250px;
    height: 150px;
    background-image: url(Images/weather_img3.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
   
    border-radius: 10px;
    opacity: 40%;
    transition: 800ms;
}

.weather-link {
    font-family: Atak;
    font-size: 60px;
    font-weight: 900;
    color: #4d4d4d;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    transition: 500ms;
}

/*Weather page*/

.weather-wrapper{
    background-color: #06337a;
    padding: 0;
    overflow:hidden;

}

.weather-content{
    margin: 0;
    padding-left: 3%;
    display: block;
    width: 40%;
}

.weather-video {
    display: block;
    width: 700px;
    align-items: center;
    padding-right: 50px;
}

.wv1 {
    padding-right: 6%;
}

.interactive-link {
    font-family: Atak;
    font-size: 60px;
    font-weight: 900;
    color: #4d4d4d;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    transition: 500ms;
}

.interactive_img {
    padding: 100px 150px;
    width: 250px;
    height: 150px;
    background-image: url(Images/interactive_screenshot.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    opacity: 40%;
    transition: 800ms;
}

/* Interactive Art page */

.interactive-wrapper{
    background-color: #06337a;
    padding: 0;
    overflow:hidden;

}

.interactive-content{
    display: flex;
    margin: 0;
    padding-left: 5%;
    display: block;
    width: 40%;
    overflow: hidden;
}

.interactive-video1 {
    display: flex;
    width: 500px;
    align-items: center;
    height: 1050px;
}



.interv1 {
    position: absolute;
    max-width:100%;
    align-items: center;
    right: 50px;
    top: 600px;
}


.interactive-video2 {
    display: flex;
    width: 500px;
    align-items: center;
    height: 800px;
}

.interv2 {
    display: flex;
    max-width: 100%;
    margin: 0;
    align-items: center;
    right: 50px;
    top: 1500px;
}

.interactive-video3 {
    display: flex;
    width: 500px;
    align-items: center;
    height: 1200px;
}

.interv3 {
    display: flex;
    max-width: 100%;
    margin: 0;
    align-items: center;
    right: 50px;
    top: 2500px;
}



.generative_img {
    padding: 100px 150px;
    width: 250px;
    height: 150px;
    background-image: url(Images/generative_screenshot2.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    opacity: 40%;
    transition: 800ms;
}

.generative-link {
    font-family: Atak;
    font-size: 60px;
    font-weight: 900;
    color: #4d4d4d;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    transition: 500ms;
}

/*Generative Page*/
.generative-wrapper {
    background-color: #06337a;
    padding: 0;
    overflow:hidden;
}

.generative-content {
    margin: 0;
    padding-left: 5%;
    overflow: hidden;
}

.generative-video1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 1050px;
}

.genv1 {
    height: 700px;
    
    max-width: 100%;
    max-height: 100%;
    right: 325px;
}

.generative-video2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 1050px;
    
}

.genv2 {
    height: 1000px;
    top: 1500px;
    max-width: 100%;
    max-height: 100%;
    right: 325px;
}

.generative-video3 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 1050px;
    
}

.genv3 {
    height: 1000px;
    top: 2500px;
    max-width: 100%;
    max-height: 100%;
    right: 325px;
}

.generative-video4 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 1050px;
    
}

.genv4 {
    height: 1000px;
    top: 3500px;
    max-width: 100%;
    max-height: 100%;
    right: 325px;
}








/* Microinteractions */
/* Microinteractions */
/* enter */
.enter_img:hover,
.human_img:hover,
.weather_img:hover,
.interactive_img:hover,
.generative_img:hover {
    opacity: 100%;
}

.enter-link:hover,
.human-link:hover,
.weather-link:hover,
.interactive-link:hover,
.generative-link:hover,
.insta-link:hover {
    color: #ffffff;
}

