        .webgl {
            position: fixed;
            top: 0;
            left: 0;
            outline: none;
            background-color: transparent;
        }
        
        .enter {
            position: fixed;
            top: 0;
            left: 0;
            outline: none;
            background-color: transparent;
        }
        
        html {
            scroll-behavior: initial;
            overflow-x: hidden;
        }
        
        body {
            color: #ffffff;
            margin: 0;
        }
        
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
            background-color: #4c5c75;
        }
        
        
        @font-face {
            font-family: 'Atak';
            src: url("/fonts/Atak_Regular.ttf") format('ttf');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }
        
        .spacer {
            height: 102vh;
        }
        
        .spacer1 {
            height: 80vh;
        }
        
        .spacer2 {
            height: 17vh;
        }
        
        .half-space1 {
            height: 40vh
        }
        /* About */
        
        main {
            display: flex;
            height: 100vh;
            width: 100%;
            position: relative;
            justify-content: center;
            align-items: center;
            transform: translateY(100vh);
        }
        
        .intro1,
        .intro2,
        .intro3 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px; /* Adjust the margin as needed */
        }
        
        .intro p {
            width: 25ch;
        }
        
        .intro1>p,
        .intro2>p,
        .intro3>p {
            width: 25ch;
        }
        
        .intro1>p {
            transform: translateY(30%);
        }
        
        .intro2>p {
            transform: translateY(40%);
        }

        .intro3>p {
            transform: translateY(60%);
        }

        
        
        
        h1 {
            font-size: 1.5rem;
            color: #acb1ba;
            font-family: Atak, sans-serif;
            position: relative;
            display: block;
        }
        
        h2 {
            font-size: 2vw;
            color: #ffffff;
            font-family: Atak, sans-serif;
            position: relative;
        }
        
        h3 {
            font-size: 2vw;
            color: #acb1ba;
            font-family: Atak, sans-serif;
            position: relative;
            display: block;
        }
        
        p {
            font-size: 2.7vw;
            font-family: Atak, sans-serif;
        }
        
        a {
            font-family: Atak, sans-serif;
        }
        /* Project */
        
        .vertical_content {
            display: flex;
        }
        
        .horizontal_content {
            display: flex;
            overflow-x: hidden;
        }
        
        .horizontal_item {
            padding: 50px 50px;
            background-image: url("");
            font-family: Hemming;
            height: 100vh;
            display: flex;
            align-content: center;
        }
        
        .horizontal_item:not(:last-child) {
            margin-right: 50px;
        }
        
        .enter_img,
        .human_img,
        .weather_img,
        .interactive_img,
        .generative_img {
            width: 50vw;
            height: 45vh;
            /* background-image: url(../static/Images/Enter_screenshot9.jpg); */
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            margin-left: auto;
            margin-right: auto;
            opacity: 40%;
            transition: 800ms;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .enter-link,
        .human-link,
        .weather-link,
        .interactive-link,
        .generative-link {
            font-family: Atak, sans-serif;
            font-size: 4.7em;
            font-weight: 900;
            color: #4d4d4d;
            text-align: center;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            text-decoration: none;
            transition: 500ms;
        }
        
        .enter_img {
            background-image: url(../static/Images/Enter_screenshot9.jpg);
        }
        
        .human_img {
            background-image: url(../static/Images/human4.jpg);
        }
        
        .weather_img {
            background-image: url(../static/Images/weather_img3.jpg);
        }
        
        .interactive_img {
            background-image: url(../static/Images/interactive_screenshot.jpg);
        }
        
        .generative_img {
            background-image: url(../static/Images/generative_screenshot2.jpg);
        }
        /* Contact */
        
        .contact-wrapper {
            display: flex;
            flex-direction: column; /* Stack items vertically */
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
            width: 100%;
            top: -50%;
        }



        .contact-pic {
            background-image: url(../static/Images/angus_portfolio_pic.jpg);
            background-size: cover;
            background-position: center; /* You can adjust this based on your preference */
            width: 75%;
            scale: 50%;
            padding-bottom: 50%;
            border-radius: 20px;
        }

        
        .contact-item {
            margin: 0;
            padding-left: 3%;
            width: 100%;
            text-align: center;
            text-decoration: none;
        }
        
        .insta-link {
            color: #4d4d4d;
            text-decoration: none;
            transition: 500ms;
        }
        /* Microinteractions */
        
        .enter_img:hover,
        .human_img:hover,
        .weather_img:hover,
        .interactive_img:hover,
        .generative_img:hover {
            opacity: 100%;
        }
        
        .enter-link:hover,
        .human-link:hover,
        .weather-link:hover,
        .interactive-link:hover,
        .generative-link:hover,
        .insta-link:hover {
            color: #ffffff;
        }
        /* Big Screen */
        
        @media only screen and (min-width: 100rem) {
            .spacer {
                height: 60vh;
            }
            .half-space1 {
                height: 0vh;
            }
        }
        /* Mobile */
        
        @media only screen and (max-width: 45rem) {
            .spacer {
                height: 120vh;
            }
            .horizontal_item:not(:last-child) {
                margin-right: 0;
            }
            .enter_img,
            .human_img,
            .weather_img,
            .interactive_img,
            .generative_img {
                width: 70vw;
                height: 30vh;
            }
            .enter-link,
            .human-link,
            .weather-link,
            .interactive-link,
            .generative-link {
                font-size: 2.2em;
            }
        }
        /* Ipad */
        
        @media only screen and (max-width: 55rem) and (min-width:46rem) {
            .enter-link,
            .human-link,
            .weather-link,
            .interactive-link,
            .generative-link {
                font-size: 3.2em;
            }
        }
