        .webgl {
            position: fixed;
            top: 0;
            left: 0;
            outline: none;
            background-color: transparent;
        }
        
        .enter {
            position: fixed;
            top: 0;
            left: 0;
            outline: none;
            background-color: transparent;
        }
        
        html {
            scroll-behavior: initial;
            /* overflow: hidden; */
            overflow-x: hidden;
        }
        
        body {
            color: #ffffff;
            /* font-size: 2vw; */
            margin: 0;
        }
        
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
            background-color: transparent;
        }
        
        @font-face {
            font-family: 'Atak';
            src: url("/static/fonts/Atak_Regular.ttf") format('ttf');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }
        /* Add media queries for responsive design */
        
        @media only screen and (max-width: 768px) {
            main {
                /* flex-direction: column; */
            }
            /* .left-col,
  .right-col {
      width: 100%;
  }
  .intros {
      top: 0;
  }
  .intro1,
  .intro2 {
      left: 0;
      right: 0;
  } */
            h1,
            h2,
            h3,
            p {
                /* font-size: 20px; */
            }
        }
        
        .spacer {
            height: 120vh;
        }
        
        .spacer1 {
            height: 80vh;
        }
        
        .half-space1 {
            height: 40vh
        }
        /* About */
        
        main {
            display: flex;
            height: 100vh;
            width: 100%;
            position: relative;
            justify-content: center;
            align-items: center;
            transform: translateY(100vh);
        }
        
        .intros {
            display: flex;
            background-color: rgba(159, 212, 245, 0.2);
            backdrop-filter: blur(10px);
        }
        
        .left-col {
            /* width: 100%; */
            /* top: 1vh; */
            display: flex;
            position: relative;
            /* left: -30vw; */
        }
        
        .right-col {
            /* width: 100%; */
            /* top: 50vh; */
            display: flex;
            position: relative;
            /* right: -60vw; */
        }
        
        .intro1>p,
        .intro2>p {
            /* width: 70%; */
            width: 25ch;
        }
        
        .intro1>p {
            transform: translateY(-20vh);
        }
        
        .intro2>p {
            transform: translateY(20vh);
        }
        
        h1 {
            font-size: 1.5rem;
            color: #acb1ba;
            font-family: Atak;
            position: relative;
            display: block;
            /* width: 30em; */
        }
        
        h2 {
            font-size: 1rem;
            color: #ffffff;
            font-family: Atak;
            position: relative;
            /* width: 500px; */
        }
        
        h3 {
            font-size: 2vw;
            color: #acb1ba;
            font-family: Atak;
            position: relative;
            display: block;
            /* width: 300px; */
        }
        
        p {
            font-size: 3vw;
            /* width: 1ch; */
            /* width: clamp(2ch, 5ch, 10ch); */
        }
        /* Media queries for responsive design */
        /* @media only screen and (min-width: 768px) {
    main {
        flex-direction: row;
    }
    .left-col,
    .right-col {
        width: 45%;
    }
    .intros {
        top: 0;
    }
    .intro1 {
        left: 0;
    }
    .intro2 {
        right: 0;
    }
    h1,
    h2,
    h3,
    p {
        font-size: 1em;
    }
} */
        
        h1,
        h2,
        h3,
        p {
            /* font-size: 1em; */
        }
        /* Project */
        
        .vertical_content {
            display: flex;
        }
        
        .horizontal_content {
            display: flex;
            /* position: relative;
            top: 500px;
            width: fit-content; */
        }
        
        .horizontal_item {
            padding: 50px 50px;
            background-image: url("");
            font-family: Hemming;
            height: 100vh;
            display: flex;
            align-content: center;
        }
        
        .horizontal_item:not(:last-child) {
            margin-right: 50px;
        }
        
        .enter_img {
            /* padding: 100px 150px; */
            width: 50vw;
            height: 45vh;
            background-image: url(/Images/Enter_screenshot9.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            margin-left: auto;
            margin-right: auto;
            opacity: 40%;
            transition: 800ms;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .enter-link {
            font-family: Atak;
            text-decoration: none;
            font-size: 5em;
            font-weight: 900;
            color: #4d4d4d;
            text-align: center;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            transition: 500ms;
        }
        
        .human_img {
            /* padding: 100px 150px; */
            width: 50vw;
            height: 45vh;
            background-image: url(Images/human4.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            align-content: center;
            opacity: 40%;
            transition: 800ms;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .human-link {
            font-family: Atak;
            font-size: 5em;
            font-weight: 900;
            color: #4d4d4d;
            text-align: center;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            text-decoration: none;
            transition: 500ms;
        }
        
        .weather_img {
            /* padding: 100px 150px; */
            width: 50vw;
            height: 45vh;
            background-image: url(Images/weather_img3.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            opacity: 40%;
            transition: 800ms;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .weather-link {
            font-family: Atak;
            font-size: 5em;
            font-weight: 900;
            color: #4d4d4d;
            text-align: center;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            text-decoration: none;
            transition: 500ms;
        }
        
        .interactive_img {
            /* padding: 100px 150px; */
            width: 50vw;
            height: 45vh;
            background-image: url(Images/interactive_screenshot.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            opacity: 40%;
            transition: 800ms;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .interactive-link {
            font-family: Atak;
            font-size: 5em;
            font-weight: 900;
            color: #4d4d4d;
            text-align: center;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            text-decoration: none;
            transition: 500ms;
        }
        
        .generative_img {
            /* padding: 100px 150px; */
            width: 50vw;
            height: 45vh;
            background-image: url(Images/generative_screenshot2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            opacity: 40%;
            transition: 800ms;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .generative-link {
            font-family: Atak;
            font-size: 5em;
            font-weight: 900;
            color: #4d4d4d;
            text-align: center;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            text-decoration: none;
            transition: 500ms;
        }
        
        @media only screen and (max-width: 500px) {
            .enter_img,
            .human_img,
            .weather_img,
            .interactive_img,
            .generative_img {
                width: 70vw;
                height: 30vh;
                /* transition: 1000ms; */
            }
            .enter-link,
            .human-link,
            .weather-link,
            .interactive-link,
            .generative-link {
                font-size: 2.2em;
            }
        }
        /* Contact */
        
        .contact-wrapper {
            display: flex;
            position: relative;
            overflow: hidden;
            width: 100%;
            top: -5vh;
        }
        
        .email {
            margin: 0;
            padding-left: 3%;
            width: 100%;
            text-decoration: none;
        }
        
        .insta-link {
            color: #4d4d4d;
            text-decoration: none;
            transition: 500ms;
        }